.header__links-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-width: 78px;
  max-height: 28px;
}

@media screen and (max-width: 767px) {
  .header__links-list {
    max-width: 62px;
    max-height: 20px;
    padding-top: 14px;
  }
}
